


f137-
List of requirement
-Request Form from Other school

Cert of Enrollment / Good moral-
List of requirement (kung saan gagamitin) - Purpose

Card / Diploma-
wala naman requirement ID lang nung student

Statement of the Problem
1. Unwanted Crowd Buildup:
Registrar staffs and students experience difficulty in processing scholastic documents due to Covid-19 guideline restrictions.

2. Unmanaged Load of Document Requests:
Students usually go to to the Registrar if they need to process certain documents. There are days that the document requests are so enormous that the registrar in-charge was stacked with loads of work. While there are other days that they have nothing to process.

3. Difficulty in tracking released Documents:
After release of requested documents, the registrar often record the transaction in a logbook or excel file making it hard to check if the current request has already been catered or not. For example, in getting Form 137, it should only be released once. So the registrar need to check the records first manually to verify if it is really the first time to request the document.


Marvin De Guzman
Certificate of Good Moral	
For Releasing	John Paul Solis
Form 137	
For Releasing	Cassandra Ong
Certificate of Enrollment